body{
    background-color: #FBFBFB;
}

.card{
    position: relative;
    width: 100%;
    border: 2px solid;
    min-height: 148px;
    padding-: 10px;
    margin: 10px;
    border-color: black;
    background-color: white;
}




.topleft {
    position: absolute;
    left: 10px;
    top: 15%;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

h2{
    color: black;
}


.topcenter {
    position: absolute;
    left: 20px;
    top: 0%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}



.bottomcenter {
    position: absolute;
    left: -5px;
    top: 25%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}


.bottomcenter1 {
    position: absolute;
    left: 60px;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

#mainbox{
    font-family: calibri;
    box-sizing: border-box;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

